@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
  font-family: "Press Start 2P", cursive;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(assets/bomberman.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-color: #a69ea5;
}

input,
textarea,
select {
  font-family: inherit;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  color: white;
  text-align: left;
}

main {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.display-container {
  width: 40%;
  background-color: black;
  border: 5px solid #a69ea5;
}

.input-container {
  border: 5px solid #a69ea5;
  background-color: black;
  padding: 5px;
}

.display-board {
  border-top: 5px solid #a69ea5;
  max-height: 80vh;
  overflow: scroll;
}

.display-board p {
  margin: 0;
  padding: 10px;
  color: #97ede1;
}

.display-board p:nth-child(odd) {
  background-color: gray;
}

button {
  font-family: inherit;
  border: none;
  padding: 15px 25px;
  outline: none;
  background-color: #287e05;
  box-shadow: 0 3px #999;
}

button:active {
  background-color: #287e05;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

.display-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  width: calc(100% - 14px);
  height: 20px;
  margin-bottom: 15px;
}
