main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

h1 {
  width: 100%;
  text-align: center;
}

.display-container {
  width: 20%;
}

.input-container {
  width: 20%;
}

.display-board {
  border: 1px solid black;
}

.display-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  width: 100%;
  margin-bottom: 10px;
}
